body{
    background-color:black;
    text-align:center;
    }
h1
{color:lightblue;
text-align:center;
font-size:50px;
}
.clary
{border:solid 4px lightblue;
   margin:40px;
    }
 .sound
 {width:200px;
 margin:40px;}
 
 .healing
 {width:200px;
 margin:40px;}
 
 .block
 {width:200px;
 margin:40px;}